In [2]:
#Importing required Librabries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# TRAIN DATA

In [3]:
df=pd.read_csv('train.csv')

In [4]:
df.head(10)

,customer_id,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,258868,No Urgent Place,Friend(s),Sunny,80,6PM,Restaurant(<20),1d,Male,21,...,1~3,4~8,4~8,never,1,1,0,0,1,1
1,318369,Work,Alone,Sunny,80,7AM,Restaurant(<20),2h,Male,21,...,1~3,4~8,1~3,less1,1,0,0,1,0,0
2,320906,No Urgent Place,Alone,Sunny,80,10AM,Coffee House,2h,Female,21,...,gt8,4~8,1~3,1~3,1,1,0,0,1,0
3,412393,Work,Alone,Rainy,55,7AM,Restaurant(<20),2h,Female,26,...,less1,4~8,1~3,never,1,1,1,0,1,0
4,290854,Home,Alone,Snowy,30,6PM,Coffee House,1d,Male,31,...,less1,4~8,less1,never,1,1,0,0,1,0
5,438743,Work,Alone,Sunny,80,7AM,Restaurant(20-50),1d,Female,50plus,...,1~3,4~8,4~8,1~3,1,1,0,0,1,1
6,152741,Home,Alone,Sunny,80,6PM,Coffee House,1d,Female,50plus,...,never,4~8,1~3,never,1,0,0,1,0,0
7,268067,No Urgent Place,Alone,Sunny,55,6PM,Coffee House,1d,Female,21,...,1~3,1~3,1~3,less1,1,0,0,0,1,1
8,420352,Home,Alone,Sunny,80,6PM,Restaurant(<20),1d,Male,26,...,1~3,1~3,1~3,1~3,1,0,0,1,0,1
9,425469,No Urgent Place,Friend(s),Sunny,80,10PM,Bar,1d,Female,36,...,less1,1~3,less1,less1,1,1,0,0,1,1

In [5]:
df.shape

(10147, 27)

In [6]:
df.isnull().sum()

customer_id                 0
destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     10063
Bar                        88
CoffeeHouse               172
CarryAway                 122
RestaurantLessThan20       97
Restaurant20To50          148
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

In [7]:
df.drop('car',axis=1,inplace=True)

In [8]:
df.isnull().sum()

customer_id               0
destination               0
passanger                 0
weather                   0
temperature               0
time                      0
coupon                    0
expiration                0
gender                    0
age                       0
maritalStatus             0
has_children              0
education                 0
occupation                0
income                    0
Bar                      88
CoffeeHouse             172
CarryAway               122
RestaurantLessThan20     97
Restaurant20To50        148
toCoupon_GEQ5min          0
toCoupon_GEQ15min         0
toCoupon_GEQ25min         0
direction_same            0
direction_opp             0
Y                         0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10147 entries, 0 to 10146
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           10147 non-null  int64
 1   destination           10147 non-null  object
 2   passanger             10147 non-null  object
 3   weather               10147 non-null  object
 4   temperature           10147 non-null  int64
 5   time                  10147 non-null  object
 6   coupon                10147 non-null  object
 7   expiration            10147 non-null  object
 8   gender                10147 non-null  object
 9   age                   10147 non-null  object
 10  maritalStatus         10147 non-null  object
 11  has_children          10147 non-null  int64
 12  education             10147 non-null  object
 13  occupation            10147 non-null  object
 14  income                10147 non-null  object
 15  Bar                   10059 non-null  object
 16  CoffeeHouse           9975 non-null   object
 17  CarryAway             10025 non-null  object
 18  RestaurantLessThan20  10050 non-null  object
 19  Restaurant20To50      9999 non-null   object
 20  toCoupon_GEQ5min      10147 non-null  int64
 21  toCoupon_GEQ15min     10147 non-null  int64
 22  toCoupon_GEQ25min     10147 non-null  int64
 23  direction_same        10147 non-null  int64
 24  direction_opp         10147 non-null  int64
 25  Y                     10147 non-null  int64
dtypes: int64(9), object(17)
memory usage: 2.0+ MB

In [10]:
df.describe()

,customer_id,temperature,has_children,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
count,10147.000000,10147.000000,10147.000000,10147.0,10147.000000,10147.000000,10147.000000,10147.000000,10147.000000
mean,311272.276831,63.172366,0.412634,1.0,0.563024,0.119838,0.212181,0.787819,0.568444
std,106781.701016,19.232595,0.492332,0.0,0.496037,0.324788,0.408872,0.408872,0.495318
min,123472.000000,30.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,221439.000000,55.000000,0.000000,1.0,0.000000,0.000000,0.000000,1.000000,0.000000
50%,310062.000000,80.000000,0.000000,1.0,1.000000,0.000000,0.000000,1.000000,1.000000
75%,401537.000000,80.000000,1.000000,1.0,1.000000,0.000000,0.000000,1.000000,1.000000
max,499988.000000,80.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
df.columns

Index(['customer_id', 'destination', 'passanger', 'weather', 'temperature',
       'time', 'coupon', 'expiration', 'gender', 'age', 'maritalStatus',
       'has_children', 'education', 'occupation', 'income', 'Bar',
       'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50',
       'toCoupon_GEQ5min', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min',
       'direction_same', 'direction_opp', 'Y'],
      dtype='object')

In [12]:
df['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [13]:
df['gender'].unique()
df['gender']=df['gender'].map({'Male':0,'Female':1})

In [14]:
df['expiration'].unique()
df['expiration']=df['expiration'].map({'1d':24,'2h':2})

In [15]:
df['time'].unique()
df['time']=df['time'].map({'6PM':18, '7AM':7, '10AM':10, '10PM':22, '2PM':14})

In [16]:
df['CoffeeHouse'].unique

<bound method Series.unique of 0          1~3
1          1~3
2          gt8
3        less1
4        less1
         ...
10142      gt8
10143      NaN
10144    never
10145    never
10146      NaN
Name: CoffeeHouse, Length: 10147, dtype: object>

In [17]:
CH=df['CoffeeHouse'].mode()
df['Coffee_House']=df['CoffeeHouse'].fillna('CH')

In [18]:
df['CoffeeHouse'].unique()

array(['1~3', 'gt8', 'less1', 'never', '4~8', nan], dtype=object)

In [19]:
CA=df['CarryAway'].mode()
df['Carry_Away']=df['CarryAway'].fillna('CA')

In [20]:
B=df['Bar'].mode()
df['Bar_']=df['Bar'].fillna('B')

In [21]:
RLT=df['RestaurantLessThan20'].mode()
df['RestaurantLessThan_20']=df['RestaurantLessThan20'].fillna('RLT')

In [22]:
RLT25=df['Restaurant20To50'].mode()
df['Restaurant_20To50']=df['Restaurant20To50'].fillna('RLT25')

In [23]:
df.drop('CoffeeHouse',axis=1,inplace=True)
df.drop('CarryAway',axis=1,inplace=True)
df.drop('Bar',axis=1,inplace=True)
df.drop('RestaurantLessThan20',axis=1,inplace=True)
df.drop('Restaurant20To50',axis=1,inplace=True)

In [24]:
df.isnull().sum()

customer_id              0
destination              0
passanger                0
weather                  0
temperature              0
time                     0
coupon                   0
expiration               0
gender                   0
age                      0
maritalStatus            0
has_children             0
education                0
occupation               0
income                   0
toCoupon_GEQ5min         0
toCoupon_GEQ15min        0
toCoupon_GEQ25min        0
direction_same           0
direction_opp            0
Y                        0
Coffee_House             0
Carry_Away               0
Bar_                     0
RestaurantLessThan_20    0
Restaurant_20To50        0
dtype: int64

In [25]:
df.head()

,customer_id,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,...,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,Coffee_House,Carry_Away,Bar_,RestaurantLessThan_20,Restaurant_20To50
0,258868,No Urgent Place,Friend(s),Sunny,80,18,Restaurant(<20),24,0,21,...,1,0,0,1,1,1~3,4~8,less1,4~8,never
1,318369,Work,Alone,Sunny,80,7,Restaurant(<20),2,0,21,...,0,0,1,0,0,1~3,4~8,less1,1~3,less1
2,320906,No Urgent Place,Alone,Sunny,80,10,Coffee House,2,1,21,...,1,0,0,1,0,gt8,4~8,less1,1~3,1~3
3,412393,Work,Alone,Rainy,55,7,Restaurant(<20),2,1,26,...,1,1,0,1,0,less1,4~8,less1,1~3,never
4,290854,Home,Alone,Snowy,30,18,Coffee House,24,0,31,...,1,0,0,1,0,less1,4~8,1~3,less1,never

In [26]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
df['destination']=labelencoder.fit_transform(df['destination'])
df['passanger']=labelencoder.fit_transform(df['passanger'])
df['weather']=labelencoder.fit_transform(df['weather'])
df['maritalStatus']=labelencoder.fit_transform(df['maritalStatus'])
df['education']=labelencoder.fit_transform(df['education'])
df['occupation']=labelencoder.fit_transform(df['occupation'])
df['coupon']=labelencoder.fit_transform(df['coupon'])
df['Coffee_House']=labelencoder.fit_transform(df['Coffee_House'])
df['Carry_Away']=labelencoder.fit_transform(df['Carry_Away'])
df['Bar_']=labelencoder.fit_transform(df['Bar_'])
df['RestaurantLessThan_20']=labelencoder.fit_transform(df['RestaurantLessThan_20'])
df['Restaurant_20To50']=labelencoder.fit_transform(df['Restaurant_20To50'])

In [27]:
df.head()

,customer_id,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,...,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,Coffee_House,Carry_Away,Bar_,RestaurantLessThan_20,Restaurant_20To50
0,258868,1,1,2,80,18,4,24,0,21,...,1,0,0,1,1,0,1,4,1,5
1,318369,2,0,2,80,7,4,2,0,21,...,0,0,1,0,0,0,1,4,0,4
2,320906,1,0,2,80,10,2,2,1,21,...,1,0,0,1,0,3,1,4,0,0
3,412393,2,0,0,55,7,4,2,1,26,...,1,1,0,1,0,4,1,4,0,5
4,290854,0,0,1,30,18,2,24,0,31,...,1,0,0,1,0,4,1,0,4,5

In [28]:
#df.info()

In [29]:
df

,customer_id,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,...,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,Coffee_House,Carry_Away,Bar_,RestaurantLessThan_20,Restaurant_20To50
0,258868,1,1,2,80,18,4,24,0,21,...,1,0,0,1,1,0,1,4,1,5
1,318369,2,0,2,80,7,4,2,0,21,...,0,0,1,0,0,0,1,4,0,4
2,320906,1,0,2,80,10,2,2,1,21,...,1,0,0,1,0,3,1,4,0,0
3,412393,2,0,0,55,7,4,2,1,26,...,1,1,0,1,0,4,1,4,0,5
4,290854,0,0,1,30,18,2,24,0,31,...,1,0,0,1,0,4,1,0,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10142,201838,0,0,2,80,18,1,2,0,below21,...,1,0,1,0,0,3,3,5,3,4
10143,248838,0,3,2,80,18,2,24,0,26,...,0,0,1,0,1,2,0,5,0,4
10144,173367,1,0,2,80,10,4,2,1,21,...,0,0,0,1,1,5,0,5,5,5
10145,488688,1,2,2,30,22,3,2,0,46,...,0,0,0,1,0,5,0,4,0,0
10146,431162,0,0,1,30,22,2,2,1,36,...,1,0,0,1,0,2,0,4,0,0

In [30]:
def encode_and_bind(original_dataframe, feature_to_encode, column_prefix):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]] , prefix=column_prefix)
    res = pd.concat([original_dataframe, dummies], axis=1)
    return res

In [31]:
df = encode_and_bind(df, 'age', 'age')

In [32]:
df = encode_and_bind(df, 'income', 'income')

In [33]:
df.drop(['income','age'],axis=1,inplace=True)

In [34]:
df.columns

Index(['customer_id', 'destination', 'passanger', 'weather', 'temperature',
       'time', 'coupon', 'expiration', 'gender', 'maritalStatus',
       'has_children', 'education', 'occupation', 'toCoupon_GEQ5min',
       'toCoupon_GEQ15min', 'toCoupon_GEQ25min', 'direction_same',
       'direction_opp', 'Y', 'Coffee_House', 'Carry_Away', 'Bar_',
       'RestaurantLessThan_20', 'Restaurant_20To50', 'age_21', 'age_26',
       'age_31', 'age_36', 'age_41', 'age_46', 'age_50plus', 'age_below21',
       'income_$100000 or More', 'income_$12500 - $24999',
       'income_$25000 - $37499', 'income_$37500 - $49999',
       'income_$50000 - $62499', 'income_$62500 - $74999',
       'income_$75000 - $87499', 'income_$87500 - $99999',
       'income_Less than $12500'],
      dtype='object')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10147 entries, 0 to 10146
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              10147 non-null  int64
 1   destination              10147 non-null  int32
 2   passanger                10147 non-null  int32
 3   weather                  10147 non-null  int32
 4   temperature              10147 non-null  int64
 5   time                     10147 non-null  int64
 6   coupon                   10147 non-null  int32
 7   expiration               10147 non-null  int64
 8   gender                   10147 non-null  int64
 9   maritalStatus            10147 non-null  int32
 10  has_children             10147 non-null  int64
 11  education                10147 non-null  int32
 12  occupation               10147 non-null  int32
 13  toCoupon_GEQ5min         10147 non-null  int64
 14  toCoupon_GEQ15min        10147 non-null  int64
 15  toCoupon_GEQ25min        10147 non-null  int64
 16  direction_same           10147 non-null  int64
 17  direction_opp            10147 non-null  int64
 18  Y                        10147 non-null  int64
 19  Coffee_House             10147 non-null  int32
 20  Carry_Away               10147 non-null  int32
 21  Bar_                     10147 non-null  int32
 22  RestaurantLessThan_20    10147 non-null  int32
 23  Restaurant_20To50        10147 non-null  int32
 24  age_21                   10147 non-null  uint8
 25  age_26                   10147 non-null  uint8
 26  age_31                   10147 non-null  uint8
 27  age_36                   10147 non-null  uint8
 28  age_41                   10147 non-null  uint8
 29  age_46                   10147 non-null  uint8
 30  age_50plus               10147 non-null  uint8
 31  age_below21              10147 non-null  uint8
 32  income_$100000 or More   10147 non-null  uint8
 33  income_$12500 - $24999   10147 non-null  uint8
 34  income_$25000 - $37499   10147 non-null  uint8
 35  income_$37500 - $49999   10147 non-null  uint8
 36  income_$50000 - $62499   10147 non-null  uint8
 37  income_$62500 - $74999   10147 non-null  uint8
 38  income_$75000 - $87499   10147 non-null  uint8
 39  income_$87500 - $99999   10147 non-null  uint8
 40  income_Less than $12500  10147 non-null  uint8
dtypes: int32(12), int64(12), uint8(17)
memory usage: 1.6 MB

In [36]:
df['income_$100000 or More']=df['income_$100000 or More'].astype(int)
df['income_$12500 - $24999']=df['income_$12500 - $24999'].astype(int)
df['income_$25000 - $37499']=df['income_$25000 - $37499'].astype(int)
df['income_$37500 - $49999']=df['income_$37500 - $49999'].astype(int)
df['income_$50000 - $62499']=df['income_$50000 - $62499'].astype(int)
df['income_$62500 - $74999']=df['income_$62500 - $74999'].astype(int)
df['income_$75000 - $87499']=df['income_$75000 - $87499'].astype(int)
df['income_$87500 - $99999']=df['income_$87500 - $99999'].astype(int)
df['income_Less than $12500']=df['income_Less than $12500'].astype(int)
df['age_21']=df['age_21'].astype(int)
df['age_26']=df['age_26'].astype(int)
df['age_31']=df['age_31'].astype(int)
df['age_36']=df['age_36'].astype(int)
df['age_41']=df['age_41'].astype(int)
df['age_46']=df['age_46'].astype(int)
df['age_50plus']=df['age_50plus'].astype(int)
df['age_below21']=df['age_below21'].astype(int)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10147 entries, 0 to 10146
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              10147 non-null  int64
 1   destination              10147 non-null  int32
 2   passanger                10147 non-null  int32
 3   weather                  10147 non-null  int32
 4   temperature              10147 non-null  int64
 5   time                     10147 non-null  int64
 6   coupon                   10147 non-null  int32
 7   expiration               10147 non-null  int64
 8   gender                   10147 non-null  int64
 9   maritalStatus            10147 non-null  int32
 10  has_children             10147 non-null  int64
 11  education                10147 non-null  int32
 12  occupation               10147 non-null  int32
 13  toCoupon_GEQ5min         10147 non-null  int64
 14  toCoupon_GEQ15min        10147 non-null  int64
 15  toCoupon_GEQ25min        10147 non-null  int64
 16  direction_same           10147 non-null  int64
 17  direction_opp            10147 non-null  int64
 18  Y                        10147 non-null  int64
 19  Coffee_House             10147 non-null  int32
 20  Carry_Away               10147 non-null  int32
 21  Bar_                     10147 non-null  int32
 22  RestaurantLessThan_20    10147 non-null  int32
 23  Restaurant_20To50        10147 non-null  int32
 24  age_21                   10147 non-null  int32
 25  age_26                   10147 non-null  int32
 26  age_31                   10147 non-null  int32
 27  age_36                   10147 non-null  int32
 28  age_41                   10147 non-null  int32
 29  age_46                   10147 non-null  int32
 30  age_50plus               10147 non-null  int32
 31  age_below21              10147 non-null  int32
 32  income_$100000 or More   10147 non-null  int32
 33  income_$12500 - $24999   10147 non-null  int32
 34  income_$25000 - $37499   10147 non-null  int32
 35  income_$37500 - $49999   10147 non-null  int32
 36  income_$50000 - $62499   10147 non-null  int32
 37  income_$62500 - $74999   10147 non-null  int32
 38  income_$75000 - $87499   10147 non-null  int32
 39  income_$87500 - $99999   10147 non-null  int32
 40  income_Less than $12500  10147 non-null  int32
dtypes: int32(29), int64(12)
memory usage: 2.1 MB

In [38]:
df

,customer_id,destination,passanger,weather,temperature,time,coupon,expiration,gender,maritalStatus,...,age_below21,income_$100000 or More,income_$12500 - $24999,income_$25000 - $37499,income_$37500 - $49999,income_$50000 - $62499,income_$62500 - $74999,income_$75000 - $87499,income_$87500 - $99999,income_Less than $12500
0,258868,1,1,2,80,18,4,24,0,3,...,0,0,0,0,0,0,0,0,0,1
1,318369,2,0,2,80,7,4,2,0,2,...,0,0,0,0,1,0,0,0,0,0
2,320906,1,0,2,80,10,2,2,1,1,...,0,0,0,0,0,0,0,0,0,1
3,412393,2,0,0,55,7,4,2,1,2,...,0,0,0,1,0,0,0,0,0,0
4,290854,0,0,1,30,18,2,24,0,2,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10142,201838,0,0,2,80,18,1,2,0,2,...,1,0,0,0,0,0,0,0,0,1
10143,248838,0,3,2,80,18,2,24,0,1,...,0,0,0,0,1,0,0,0,0,0
10144,173367,1,0,2,80,10,4,2,1,3,...,0,0,0,1,0,0,0,0,0,0
10145,488688,1,2,2,30,22,3,2,0,1,...,0,1,0,0,0,0,0,0,0,0
10146,431162,0,0,1,30,22,2,2,1,1,...,0,0,0,0,1,0,0,0,0,0

# TEST DATA

In [39]:
df1=pd.read_csv('test.csv')

In [40]:
df1.head(10)

,customer_id,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,...,Bar,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp
0,374679,No Urgent Place,Friend(s),Sunny,80,6PM,Coffee House,1d,Female,below21,...,never,1~3,less1,4~8,less1,1,0,0,0,1
1,469678,Home,Alone,Sunny,80,6PM,Carry out & Take away,2h,Male,21,...,1~3,never,gt8,4~8,1~3,1,1,0,1,0
2,216140,No Urgent Place,Alone,Rainy,55,10AM,Coffee House,1d,Female,26,...,never,never,1~3,less1,never,1,1,0,0,1
3,184301,No Urgent Place,Partner,Sunny,80,6PM,Bar,1d,Male,50plus,...,never,4~8,4~8,1~3,less1,1,1,0,0,1
4,148720,Work,Alone,Sunny,30,7AM,Carry out & Take away,1d,Female,26,...,never,never,1~3,4~8,less1,1,1,0,0,1
5,145576,Home,Alone,Sunny,80,6PM,Coffee House,1d,Female,26,...,never,gt8,4~8,gt8,1~3,1,0,0,1,0
6,194322,Home,Alone,Sunny,80,6PM,Coffee House,1d,Male,46,...,never,less1,1~3,less1,less1,1,0,0,1,0
7,198210,No Urgent Place,Alone,Sunny,80,10AM,Coffee House,2h,Male,50plus,...,less1,less1,4~8,1~3,less1,1,1,0,0,1
8,305477,No Urgent Place,Partner,Sunny,80,10PM,Restaurant(<20),1d,Male,31,...,1~3,4~8,less1,4~8,less1,1,1,0,0,1
9,257384,Work,Alone,Sunny,80,7AM,Carry out & Take away,2h,Female,31,...,less1,less1,1~3,gt8,less1,1,0,0,1,0

In [41]:
df1.shape

(2537, 26)

In [42]:
df1.isnull().sum()

customer_id                0
destination                0
passanger                  0
weather                    0
temperature                0
time                       0
coupon                     0
expiration                 0
gender                     0
age                        0
maritalStatus              0
has_children               0
education                  0
occupation                 0
income                     0
car                     2513
Bar                       19
CoffeeHouse               45
CarryAway                 29
RestaurantLessThan20      33
Restaurant20To50          41
toCoupon_GEQ5min           0
toCoupon_GEQ15min          0
toCoupon_GEQ25min          0
direction_same             0
direction_opp              0
dtype: int64

In [43]:
df1.drop('car',axis=1,inplace=True)

In [44]:
df1.isnull().sum()

customer_id              0
destination              0
passanger                0
weather                  0
temperature              0
time                     0
coupon                   0
expiration               0
gender                   0
age                      0
maritalStatus            0
has_children             0
education                0
occupation               0
income                   0
Bar                     19
CoffeeHouse             45
CarryAway               29
RestaurantLessThan20    33
Restaurant20To50        41
toCoupon_GEQ5min         0
toCoupon_GEQ15min        0
toCoupon_GEQ25min        0
direction_same           0
direction_opp            0
dtype: int64

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2537 entries, 0 to 2536
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           2537 non-null   int64
 1   destination           2537 non-null   object
 2   passanger             2537 non-null   object
 3   weather               2537 non-null   object
 4   temperature           2537 non-null   int64
 5   time                  2537 non-null   object
 6   coupon                2537 non-null   object
 7   expiration            2537 non-null   object
 8   gender                2537 non-null   object
 9   age                   2537 non-null   object
 10  maritalStatus         2537 non-null   object
 11  has_children          2537 non-null   int64
 12  education             2537 non-null   object
 13  occupation            2537 non-null   object
 14  income                2537 non-null   object
 15  Bar                   2518 non-null   object
 16  CoffeeHouse           2492 non-null   object
 17  CarryAway             2508 non-null   object
 18  RestaurantLessThan20  2504 non-null   object
 19  Restaurant20To50      2496 non-null   object
 20  toCoupon_GEQ5min      2537 non-null   int64
 21  toCoupon_GEQ15min     2537 non-null   int64
 22  toCoupon_GEQ25min     2537 non-null   int64
 23  direction_same        2537 non-null   int64
 24  direction_opp         2537 non-null   int64
dtypes: int64(8), object(17)
memory usage: 495.6+ KB

In [46]:
df1.describe()

,customer_id,temperature,has_children,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp
count,2537.000000,2537.000000,2537.000000,2537.0,2537.000000,2537.000000,2537.000000,2537.000000
mean,310920.739062,63.819472,0.420181,1.0,0.555380,0.116279,0.225069,0.774931
std,109337.573114,18.833691,0.493685,0.0,0.497022,0.320622,0.417710,0.417710
min,123567.000000,30.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000
25%,214216.000000,55.000000,0.000000,1.0,0.000000,0.000000,0.000000,1.000000
50%,311730.000000,80.000000,0.000000,1.0,1.000000,0.000000,0.000000,1.000000
75%,407664.000000,80.000000,1.000000,1.0,1.000000,0.000000,0.000000,1.000000
max,499943.000000,80.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000

In [47]:
df1.columns

Index(['customer_id', 'destination', 'passanger', 'weather', 'temperature',
       'time', 'coupon', 'expiration', 'gender', 'age', 'maritalStatus',
       'has_children', 'education', 'occupation', 'income', 'Bar',
       'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50',
       'toCoupon_GEQ5min', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min',
       'direction_same', 'direction_opp'],
      dtype='object')

In [48]:
df1['gender'].unique()
df1['gender']=df1['gender'].map({'Male':0,'Female':1})

In [49]:
df1['expiration'].unique()
df1['expiration']=df1['expiration'].map({'1d':24,'2h':2})

In [50]:
df1['time'].unique()
df1['time']=df1['time'].map({'6PM':18, '7AM':7, '10AM':10, '10PM':22, '2PM':14})

In [51]:
B=df1['Bar'].mode()
df1['Bar_']=df1['Bar'].fillna('B')

In [52]:
CH=df1['CoffeeHouse'].mode()
df1['Coffee_House']=df1['CoffeeHouse'].fillna('CH')

In [53]:
CA=df1['CarryAway'].mode()
df1['Carry_Away']=df1['CarryAway'].fillna('CA')

In [54]:
RLT=df1['RestaurantLessThan20'].mode()
df1['RestaurantLessThan_20']=df1['RestaurantLessThan20'].fillna('RLT')

In [55]:
RLT25=df1['Restaurant20To50'].mode()
df1['Restaurant_20To50']=df1['Restaurant20To50'].fillna('RLT25')

In [56]:
df1.isnull().sum()

customer_id               0
destination               0
passanger                 0
weather                   0
temperature               0
time                      0
coupon                    0
expiration                0
gender                    0
age                       0
maritalStatus             0
has_children              0
education                 0
occupation                0
income                    0
Bar                      19
CoffeeHouse              45
CarryAway                29
RestaurantLessThan20     33
Restaurant20To50         41
toCoupon_GEQ5min          0
toCoupon_GEQ15min         0
toCoupon_GEQ25min         0
direction_same            0
direction_opp             0
Bar_                      0
Coffee_House              0
Carry_Away                0
RestaurantLessThan_20     0
Restaurant_20To50         0
dtype: int64

In [57]:
df1.drop('CoffeeHouse',axis=1,inplace=True)
df1.drop('CarryAway',axis=1,inplace=True)
df1.drop('Bar',axis=1,inplace=True)
df1.drop('RestaurantLessThan20',axis=1,inplace=True)
df1.drop('Restaurant20To50',axis=1,inplace=True)

In [58]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
df1['destination']=labelencoder.fit_transform(df1['destination'])
df1['passanger']=labelencoder.fit_transform(df1['passanger'])
df1['weather']=labelencoder.fit_transform(df1['weather'])
df1['maritalStatus']=labelencoder.fit_transform(df1['maritalStatus'])
df1['education']=labelencoder.fit_transform(df1['education'])
df1['occupation']=labelencoder.fit_transform(df1['occupation'])
df1['coupon']=labelencoder.fit_transform(df1['coupon'])
df1['Coffee_House']=labelencoder.fit_transform(df1['Coffee_House'])
df1['Carry_Away']=labelencoder.fit_transform(df1['Carry_Away'])
df1['Bar_']=labelencoder.fit_transform(df1['Bar_'])
df1['RestaurantLessThan_20']=labelencoder.fit_transform(df1['RestaurantLessThan_20'])
df1['Restaurant_20To50']=labelencoder.fit_transform(df1['Restaurant_20To50'])

In [59]:
df1.head()

,customer_id,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,...,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Bar_,Coffee_House,Carry_Away,RestaurantLessThan_20,Restaurant_20To50
0,374679,1,1,2,80,18,2,24,1,below21,...,1,0,0,0,1,5,0,4,1,4
1,469678,0,0,2,80,18,1,2,0,21,...,1,1,0,1,0,0,5,3,1,0
2,216140,1,0,0,55,10,2,24,1,26,...,1,1,0,0,1,5,5,0,4,5
3,184301,1,3,2,80,18,0,24,0,50plus,...,1,1,0,0,1,5,1,1,0,4
4,148720,2,0,2,30,7,1,24,1,26,...,1,1,0,0,1,5,5,0,1,4

In [61]:
def encode_and_bind(original_dataframe, feature_to_encode, column_prefix):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]] , prefix=column_prefix)
    res = pd.concat([original_dataframe, dummies], axis=1)
    return res

In [62]:
df1 = encode_and_bind(df1, 'income', 'income')

In [63]:
df1 = encode_and_bind(df1, 'age', 'age')

In [64]:
df1.drop(['income','age'],axis=1,inplace=True)

In [65]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2537 entries, 0 to 2536
Data columns (total 40 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              2537 non-null   int64
 1   destination              2537 non-null   int32
 2   passanger                2537 non-null   int32
 3   weather                  2537 non-null   int32
 4   temperature              2537 non-null   int64
 5   time                     2537 non-null   int64
 6   coupon                   2537 non-null   int32
 7   expiration               2537 non-null   int64
 8   gender                   2537 non-null   int64
 9   maritalStatus            2537 non-null   int32
 10  has_children             2537 non-null   int64
 11  education                2537 non-null   int32
 12  occupation               2537 non-null   int32
 13  toCoupon_GEQ5min         2537 non-null   int64
 14  toCoupon_GEQ15min        2537 non-null   int64
 15  toCoupon_GEQ25min        2537 non-null   int64
 16  direction_same           2537 non-null   int64
 17  direction_opp            2537 non-null   int64
 18  Bar_                     2537 non-null   int32
 19  Coffee_House             2537 non-null   int32
 20  Carry_Away               2537 non-null   int32
 21  RestaurantLessThan_20    2537 non-null   int32
 22  Restaurant_20To50        2537 non-null   int32
 23  income_$100000 or More   2537 non-null   uint8
 24  income_$12500 - $24999   2537 non-null   uint8
 25  income_$25000 - $37499   2537 non-null   uint8
 26  income_$37500 - $49999   2537 non-null   uint8
 27  income_$50000 - $62499   2537 non-null   uint8
 28  income_$62500 - $74999   2537 non-null   uint8
 29  income_$75000 - $87499   2537 non-null   uint8
 30  income_$87500 - $99999   2537 non-null   uint8
 31  income_Less than $12500  2537 non-null   uint8
 32  age_21                   2537 non-null   uint8
 33  age_26                   2537 non-null   uint8
 34  age_31                   2537 non-null   uint8
 35  age_36                   2537 non-null   uint8
 36  age_41                   2537 non-null   uint8
 37  age_46                   2537 non-null   uint8
 38  age_50plus               2537 non-null   uint8
 39  age_below21              2537 non-null   uint8
dtypes: int32(12), int64(11), uint8(17)
memory usage: 379.2 KB

In [66]:
df1['income_$100000 or More']=df1['income_$100000 or More'].astype(int)
df1['income_$12500 - $24999']=df1['income_$12500 - $24999'].astype(int)
df1['income_$25000 - $37499']=df1['income_$25000 - $37499'].astype(int)
df1['income_$37500 - $49999']=df1['income_$37500 - $49999'].astype(int)
df1['income_$50000 - $62499']=df1['income_$50000 - $62499'].astype(int)
df1['income_$62500 - $74999']=df1['income_$62500 - $74999'].astype(int)
df1['income_$75000 - $87499']=df1['income_$75000 - $87499'].astype(int)
df1['income_$87500 - $99999']=df1['income_$87500 - $99999'].astype(int)
df1['income_Less than $12500']=df1['income_Less than $12500'].astype(int)
df1['age_21']=df1['age_21'].astype(int)
df1['age_26']=df1['age_26'].astype(int)
df1['age_31']=df1['age_31'].astype(int)
df1['age_36']=df1['age_36'].astype(int)
df1['age_41']=df1['age_41'].astype(int)
df1['age_46']=df1['age_46'].astype(int)
df1['age_50plus']=df1['age_50plus'].astype(int)
df1['age_below21']=df1['age_below21'].astype(int)

In [67]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2537 entries, 0 to 2536
Data columns (total 40 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              2537 non-null   int64
 1   destination              2537 non-null   int32
 2   passanger                2537 non-null   int32
 3   weather                  2537 non-null   int32
 4   temperature              2537 non-null   int64
 5   time                     2537 non-null   int64
 6   coupon                   2537 non-null   int32
 7   expiration               2537 non-null   int64
 8   gender                   2537 non-null   int64
 9   maritalStatus            2537 non-null   int32
 10  has_children             2537 non-null   int64
 11  education                2537 non-null   int32
 12  occupation               2537 non-null   int32
 13  toCoupon_GEQ5min         2537 non-null   int64
 14  toCoupon_GEQ15min        2537 non-null   int64
 15  toCoupon_GEQ25min        2537 non-null   int64
 16  direction_same           2537 non-null   int64
 17  direction_opp            2537 non-null   int64
 18  Bar_                     2537 non-null   int32
 19  Coffee_House             2537 non-null   int32
 20  Carry_Away               2537 non-null   int32
 21  RestaurantLessThan_20    2537 non-null   int32
 22  Restaurant_20To50        2537 non-null   int32
 23  income_$100000 or More   2537 non-null   int32
 24  income_$12500 - $24999   2537 non-null   int32
 25  income_$25000 - $37499   2537 non-null   int32
 26  income_$37500 - $49999   2537 non-null   int32
 27  income_$50000 - $62499   2537 non-null   int32
 28  income_$62500 - $74999   2537 non-null   int32
 29  income_$75000 - $87499   2537 non-null   int32
 30  income_$87500 - $99999   2537 non-null   int32
 31  income_Less than $12500  2537 non-null   int32
 32  age_21                   2537 non-null   int32
 33  age_26                   2537 non-null   int32
 34  age_31                   2537 non-null   int32
 35  age_36                   2537 non-null   int32
 36  age_41                   2537 non-null   int32
 37  age_46                   2537 non-null   int32
 38  age_50plus               2537 non-null   int32
 39  age_below21              2537 non-null   int32
dtypes: int32(29), int64(11)
memory usage: 505.5 KB

# TRAINING THE MODEL

In [68]:
X_train = df.drop("Y",axis=1)
y_train = df["Y"]

In [69]:
X_test = df1

In [70]:
df.shape

(10147, 41)

In [71]:
X_train.shape

(10147, 40)

In [72]:
y_train.shape

(10147,)

In [73]:
X_test.shape

(2537, 40)

# Logistic Regression

In [74]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

In [75]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression()

In [78]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [77]:
y_pred = logreg.predict(X_test)

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

# Fitting a Decision tree model

In [79]:
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix, roc_curve, auc,recall_score, precision_score

In [80]:
from sklearn.model_selection import GridSearchCV

In [81]:
from sklearn.tree import DecisionTreeClassifier
dectree = DecisionTreeClassifier(random_state = 100)
dectree.fit(X_train,y_train)

DecisionTreeClassifier(random_state=100)

In [82]:
y_predict_dtree = dectree.predict(X_test)

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [83]:
params = {'max_depth':list(range(2,10)), 'criterion':['gini', 'entropy'],'min_samples_split' :[2,5,10],'min_samples_leaf':[2,4]}

In [84]:
cv_gs = GridSearchCV(dectree, param_grid = params, cv = 10, scoring = 'f1')

In [85]:
cv_gs.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(random_state=100),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [2, 3, 4, 5, 6, 7, 8, 9],
                         'min_samples_leaf': [2, 4],
                         'min_samples_split': [2, 5, 10]},
             scoring='f1')

In [86]:
print(cv_gs.best_params_)

{'criterion': 'entropy', 'max_depth': 4, 'min_samples_leaf': 2, 'min_samples_split': 2}

In [87]:
cv_gs.best_score_

0.7538599585958143

In [88]:
dectree = DecisionTreeClassifier(criterion = 'entropy', max_depth = 4, min_samples_leaf = 2,min_samples_split=2,
                                 random_state = 100)
dectree.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4, min_samples_leaf=2,
                       random_state=100)

In [89]:
y_predict_dtree = dectree.predict(X_test)

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [90]:
y_predict_dtree

array([0, 1, 0, ..., 1, 0, 1], dtype=int64)

In [91]:
pd.DataFrame(y_predict_dtree).to_csv("DT2.csv",index=False,header=False)

# Fitting a Random forest model

In [92]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100,random_state=0)
rf.fit(X_train,y_train)

RandomForestClassifier(random_state=0)

In [93]:
y_pred = rf.predict(X_test)

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [ ]:
tune_rf = RandomForestClassifier(random_state=100)
params = {'n_estimators':[1000,1100,1200,1300],'max_features' : ['sqrt','log']},
cv_model = GridSearchCV(tune_rf, param_grid = params,scoring = 'f1')
cv_model.fit(X_train,y_train)
print(cv_model.best_params_)

In [ ]:
print(cv_model.best_params_)

In [ ]:
cv_model.best_score_

In [ ]:
cv_model.best_estimator_

In [ ]:
rf_T = RandomForestClassifier(n_estimators=1200, max_features ='sqrt',random_state=100)
rf_T.fit(X_train,y_train)

In [ ]:
y_pred_T = rf_T.predict(X_test)

In [ ]:
y_pred_T

In [ ]:
pd.DataFrame(y_pred_T).to_csv("RFC11.csv",index=False,header=False)